<fieldset>
  <legend>index.hbs</legend>
  {{#credit-report-form
    changeset=model.changeset
    model=model.model
    onSubmit=(action "submit")
    onValidate=(action "validateField") as |crf|}}

    {{#if crf.errors.length}}
      <fieldset>
        <legend>index.hbs (block)</legend>
        <h2>Warning: component yielded errors</h2>
      </fieldset>
    {{/if}}
  {{/credit-report-form}}
</fieldset>

{{link-to "go to another route" "asdf"}}

{{outlet}}