{{#credit-report-form
  changeset=model.changeset
  model=model.model
  onSubmit=(action "submit")
  onValidate=(action "validateField") as |crf|}}

  {{#if crf.errors.length}}
    <h2>Warning: component yielded errors</h2>
  {{/if}}
{{/credit-report-form}}

{{link-to "asdf" "asdf"}}

{{outlet}}