{{#credit-report-form
  model=model
  onSubmit=(action "submit") as |crf|}}

  {{#if crf.errors.length}}
    <h2>Warning: component yielded errors</h2>
  {{/if}}
{{/credit-report-form}}

{{link-to "asdf" "asdf"}}

{{outlet}}